.container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    padding: 0;
    margin: 0;

    background-color: #fff;
    border: 2px solid #555;
    border-radius: 10px;

    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;

    padding: 0;
    margin: 0;

    color: #ddd;
    font-weight: 700;

    background-color: #555;

    
}

.close {
    font-size: 17px;
    font-weight: 700;
    color: transparent;

    width: 18px;
    height: 18px;

    padding: 0;
    margin: 0;
    margin-left: 10px;

    border: none;
    border-radius: 50px;

    background-color: rgb(255, 72, 72);

    cursor: pointer;
}

.close:hover, .close:focus {
    color: #444;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: block;
}

#contacts {
    top: 40px;

    width: 600px;
    height: 80%;
}

#calendar {
    right: 10px;
    top: 30px;
    left: auto;
    transform: translateX(0);
    /* top: 50%;
    transform: translate(-50%, -50%); */
}