body {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    
    background: url(./img/bg-img.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}