.container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    color: #333;
}

.sidebar {
    width: 40%;
    height: 100%;

    border-right: 1px solid #ddd;
}

.list {
    padding: 0;
    margin: 0;

    cursor: pointer;

    list-style: none;
}

.item {
    padding: 10px;
    margin: 0;

    border-bottom: 1px solid #ddd;
}

.item:hover, .item:focus {
    color: #fff;
    background-color: #48709e;
}

.active {
    color: #fff;
    background-color: #2b85ec;
}

.contact {
    width: 60%;
    height: 100%;
}

.iconUserBox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    padding: 0;
    margin: 0 auto;
    margin-top: 20px;

    background-color: #eee;
    border-radius: 100%;
}

.iconUser {
    fill: #aaa;

    width: 80%;
    height: 80%;

    padding: 0;
    margin: 0;
}

.userTitle {
    text-align: center;
}

.connectionBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 95%;

    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    list-style: none;
}

.connectionBar li:not(:last-child) {
    margin-right: 15%;
}

.connectionElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    color: #444;
    font-size: 14px;

    padding: 5px;

    text-decoration: none;
}

.connectionElement:hover, 
.connectionElement:focus {
    color: #2b85ec;
}

.connectionIcon {
    width: 22px;
    height: 22px;

    margin-bottom: 3px;
}

.contactInfo {
    width: 90%;

    padding: 10px;
    margin: 0 auto;

    background-color: #eee;
    border-radius: 10px;
}

.infoTitle {
    padding: 0;
    margin: 0;
}

.infoList {
    padding: 0;
    margin: 0;
    margin-top: 20px;

    list-style: none;
}

.infoItem {
    display: flex;
    align-items: center;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.infoIcon {
    fill: #555;

    width: 22px;
    height: 22px;

    margin-right: 10px;
}

.comment {
    font-style: italic;
}

.control {
    position: fixed;
    top: 35px;
    right: 5px;
}

.delete, .edit {
    width: 32px;
    height: 32px;

    padding: 5px;
    margin-left: 10px;

    background-color: #fff;
    border-radius: 100%;
    border: none;

    box-shadow: 0 0 5px 1px #888;

    cursor: pointer;
}

.deleteIcon, .editIcon {
    fill: #2b85ec;

    width: 100%;
    height: 100%;
}

.edit:hover,
.edit:focus {
    background-color: #1aa31a;
}

.delete:hover, .delete:focus {
    background-color: #ec2b2b;
}

.edit:hover .editIcon,
.edit:focus .editIcon,
.delete:hover .deleteIcon,
.delete:focus .deleteIcon {
    fill: #fff;
}

